{% extends "app1/base.html" %}
{% block content %}

<div class="container">
  <div class="p-4 m-5">
    <div class="col-lg-5">
      <h1>Login here</h1>
      <form method="POST" class="mt-4">

          <div class="form-group mt-2">
          {{form.as_p}}
          </div>
          
          <button type="submit" class="btn btn-primary">Login</button><br>
          <a href="{% url 'signup' %}">Already have an account?</a>
          {% csrf_token %}
      </form>
      </div>
    </div>
  </div>
{% endblock %}
