{% extends "app1/base.html" %}
{% block content %}
<div class="container">
  <div class="p-4 m-4">
    <div class="row">
      <div class="col-lg-7">
       <h2>Create Account ...</h2>
         <form method="POST" class="mt-4">
           {% for fm in form %}
             <div class="form-group mt-1">
                {{ fm.label_tag }} {{fm}} {{fm.errors|striptags}}
             </div>
             {% endfor %}
             <button type="submit" class="btn btn-primary  mb-5">Sign Up</button><br>
             {% csrf_token %}
             <a href="{% url 'login' %}">Already have an account?</a>
         </form>
       </div>
    </div>
  </div>
</div>
{% endblock %}
